html,
body {
  height: 100%;
}

html {
  height: calc(100% - 2em);
  background: #1b3ff2;
}

body {
  background: #6ff502;
  height: 100%;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  font-family: sans-serif;
}

.actor {
  width: 100px;
  height: 100px;

  background: #1b29c5;

  position: absolute;
  will-change: top, left;
  cursor: move;
  border-radius: 50px;
  top: calc(30% - 50px);
  left: calc(50% - 50px);
  z-index: 1;
}

button {
  background: #1165f7;
  color: white;
  border: none;
  padding: 0.8em 1.2em;
  border-radius: 0.5em;
  letter-spacing: 1px;
  cursor: pointer;
}
button:hover,
button:focus {
  box-shadow: 0 0 0 3px #05dbf2;
  background: #025bf5;
  border: none;
  outline: none;
}

button:active {
  background: #012a43;
  box-shadow: none;
  border: none;
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
  box-shadow: none;
  background: #4386f8;
}

.actor:hover {
  box-shadow: 0 0 0 4px #f2b705, 0 0 0 8px inset #025bf5;
}

.play {
  animation-name: anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: auto;
}
.play:hover {
  box-shadow: none;
}

.timeline {
  width: 420px;
}

.ui {
  position: absolute;
  bottom: 3em;
  background: white;
  padding: 1em;
  border-radius: 1em;
  border: 4px solid #02cdf5;
  width: 50em;
  left: calc(50% - 26em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #666;
}

.info {
  color: #333;
  position: absolute;
  top: 3em;
  left: 4em;
}
.info ol {
  padding: 0;
  margin: 0;
}
.info li {
  margin: 0 0 0.5em 0;
}
